<div class="register__container">
    <div class="register__input">
        <p>Логин:</p>
        <input type="name" placeholder="YourName">
    </div>
    <div class="register__input">
        <p>Почта:</p>
        <input type="gmail" placeholder="name@gmail.com">
    </div>
    <div class="register__input">
        <p>Пароль:</p>
        <input type="password" placeholder="Qwerty123">
    </div>
    <div class="register__input">
        <p>Повторите:</p>
        <input type="password" placeholder="Qwerty123">
    </div>
    <button>Зарегестрироваться</button>
    <p class="register__go-login">Уже есть аккаунт? Тогда <span routerLink="login" class="register__link">авторизуйтесь</span>!</p>
</div>
