<div class="login__container">
    <div class="login__google">
        <p>Войти с помощью</p>
        <img src="assets/img/login/with__google.png" alt="not found">
    </div>
    <div class="login__input">
        <p>Логин:</p>
        <input type="name" placeholder="YourName">
    </div>
    <div class="login__input">
        <p>Пароль:</p>
        <input type="password" placeholder="Qwerty123">
    </div>
    <button>Войти</button>
    <p class="login__go-register">Ещё нет аккаунта? Тогда <span class="register__link" routerLink="modpacks">зарегестрируйтесь</span>!</p>
</div>
